<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="com.petcation.client.join.vo.MemberVO" alias="member"/>
      <typeAlias type="com.petcation.client.community.vo.CommunityCategoryVO" alias="CommunityCategory"/>
	  <typeAlias type="com.petcation.client.community.vo.CommunityBoardVO" alias="CommunityBoard"/>
	  <typeAlias type="com.petcation.client.comreply.vo.comReplyVO" alias="comReply"/>
	  <typeAlias type="com.petcation.client.traveldiary.vo.DiaryVO" alias="diary"/>
	  <typeAlias type="com.petcation.client.reservation.vo.ReservVO" alias="reserv"/>
      <typeAlias type="com.petcation.client.hotel.vo.User_HotelVO" alias="hotel"/>
      <typeAlias type="com.petcation.client.diaryreply.vo.diaryReplyVO" alias="diaryReply"/>
      <!-- <typeAlias type="com.petcation.client.myboard.vo.MyBoardVO" alias="board" /> -->
      <typeAlias type="com.petcation.admin.login.vo.AdminLoginVO" alias="adminLogin" />
	  <typeAlias type="com.petcation.admin.member.vo.MemberVO" alias="members" />
	  <typeAlias type="com.petcation.admin.notice.vo.NoticeVO" alias="notices"/>      
	  <typeAlias type="com.petcation.admin.hotel.vo.HotelVO" alias="hotels"/>
	  <typeAlias type="com.petcation.client.qna.vo.QnaVO" alias="qvo"/>
	  <typeAlias type="com.petcation.client.qnareply.vo.QreplyVO" alias="reply"/>
	  <typeAlias type="com.petcation.client.payments.vo.PaymentsVO" alias="payment"/>
	  <typeAlias type="com.petcation.common.vo.ReservationRequestDTO" alias="reservRequest"/>
	  
   </typeAliases>
</configuration>